* {
  font-family: 'Raleway', 'sans-serif';
}
.student-image {
  width: 100px;
}

h1 {
  font-size: 20pt;
}

h2 {
  font-size: 16pt;
  font-weight: 600;
}

.student-id {
  font-size: 16pt;
}

.assessment-table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.assessment-table-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  text-align: left;
}

.new-instance-button {
  font-size: 12pt;
  font-weight: 600;

  padding: 10px 15px;

  background-color: #4C5FC3;
  color: #FFFFFF;
  border-radius: 5px;
}

.assessmentEntryData {
  font-size: 16pt;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;

  text-align: left;

  height: 60px;
}
.assessmentEntryData:nth-child(even) {
  background-color: #FFFFFF;
}

.assessmentEntryData:nth-child(odd) {
  background-color: #EDEDED;
}

.assessmentEntryData:first-child {
  border-radius: 5px 5px 0px 0px;
}

.assessmentEntryData:last-child {
  border-radius: 0px 0px 5px 5px;
}

.assessment-data {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 2px solid rgba(76, 95, 195, 60%);
  border-radius: 5px;
}

